<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>What a BURGER!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
</head>
<body>
    {{{ body }}}
</body>
</html>