<div class="container">
    <div class="row header bg-primary">
        <h2>Eat the Burger!</h2>
    </div>


<div class="row mt-3">
    <div class="col-6 bg-warning">
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-6 bg-warning">
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devour=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>


<form class="create-form">
    <div class="form-group mt-3">
        <label for="addBurger">Add your favorite burger name</label>
        <input type="text" id="brgr" name="burger_name">
    <button type="submit">Add Burger</button>
    </div>
</form>


</div>
